<form action="/add" method="post" id="registration-form">
    <p>Título:</p>
    <input class="form-control" type="text" name="titulo" autocomplete="off">
    <p>Conteúdo:</p>
    <textarea name="conteudo" id="" cols="30" rows="10" class="form-control"></textarea>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>